<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Имя:
    <br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    Фамилия:<br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    Дата рождения:
    <br>
    <%= f.date_select :birth_date, start_year: 2010, end_year: 1940 %>
  </div>
  <div class="field">
    Электронная почта:
    <br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    Пароль:
    <br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    Подтверждение пароля:
    <br>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Зарегистрироваться'%>
  </div>
<% end %>
